.div-links {
    padding: 1rem;
    align-items: center;
    

    .links-resume {
        color: black;
        text-decoration: none;
        position: relative;
        right: -60rem;
    }

    .links-achievements {
        color: black;
        text-decoration: none;
        position: relative;
        right: -61.5rem;
    }

    .links-contact {
        color: black;
        text-decoration: none;
        position: relative;
        right: -63rem;
    }

}